img.blur {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.row .details.show {
    display: contents;
}

.row .details {
    top: 1rem;
    left: 45%;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
}

.row .details p {
    color: rgb(48, 48, 48);
}

.row a button {
    background-color: #5e9693;
    margin-top: 6rem;
}