<!doctype html>
{% load django_bootstrap5 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Load CSS #}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% endblock styles %}

    <title>
        {% block title %}
        Gallery
        {% endblock title %}
    </title>

</head>
<body>
{% include 'navbar.html' %}

<div class="container" style="margin-top: 5rem;">
    {% block content %}
    {% endblock content %}
</div>


{# Load Javascript #}

{% block scripts %}
{% bootstrap_javascript %}
<script src="https://kit.fontawesome.com/aee799c668.js" crossorigin="anonymous"></script>
{% endblock scripts %}
</body>
</html>