{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock styles %}

{% block content %}

{% if all_images %}
<!-- Gallery -->
<div class="row">
    {% for image in all_images %}
    <div class="image-card col-lg-6 col-md-12 mb-4 mb-lg-0 position-relative">
        <img
                src="{{ image.image.url }}"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid image"
                alt="Boat on Calm Water"
                style="max-height: 30rem; width: auto;"
        />
        <div class="details position-absolute" id="details">
            <p class="fs-4">{{ image.name }}</p>
            <button type="button" class="btn btn-sm text-light" data-bs-toggle="modal" data-bs-target="#{{ image.name | truncatechars:3 }}">
                More
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{ image.name | truncatechars:3  }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ image.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ image.description }}
                    
                    <div class="mt-4">
                        Category: {{ image.category.name }} <br>
                        Location: {{ image.location.name }} <br>
                        Posted on: {{ image.posted_on }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Gallery -->

{% else %}
<div class="alert alert-danger" role="alert">
   Currently there are no images
</div>
{% endif %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'jquery.js' %}"></script>
{% endblock scripts %}
{% endblock content %}